#form {
    margin: 100px;
    padding: 30px;
    margin-right: 1000px;
    background-color: blue; 
    
}

#inp {
    margin-left: 10px;
    width: 260px;
    height: 62px;
}



.num {
    padding: 10px;
    margin: 20px;    
}

.btn {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;

}